body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.App {
  border: 1px solid rgb(56, 155, 240);
  width: 25%;
  height: 50%;
  align-items: center;
  padding: 30px 45px;
  border-radius: 4px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 12%;
}

.rules {
  text-align: left;
}

.luck {
  text-align: center;
}

strong {
  color: rgb(56, 155, 240);
}

.start-quiz {
  border-top: 1px solid rgb(56, 155, 240);
  padding: 10px;
  border-bottom: 0;
  margin-top: 30px;
}

.start {
  font-size: 15px;
  width: 25%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-bottom: 10px;
  cursor: pointer;
  background-color: rgb(56, 155, 240);
  border-radius: 2px;
  color: white;
  margin-left: 37.5%;
  margin-right: 37.5%;
}

.question-count {
  text-align: center;
}

.timer {
  background-color: #ecf0ec;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  color: #ea3737;
}

.que{
  padding: 10px;
}

.question-label{
  text-align: center;
  padding-bottom: 10px;
}

.score {
  width: 100%;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  text-align: center;
}

.crown{
  font-size: 50px;
  text-align: center;
}

.restart {
  font-size: 15px;
  width: 25%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-bottom: 10px;
  cursor: pointer;
  background-color: rgb(56, 155, 240);
  border-radius: 2px;
  color: white;
  margin-left: 37.5%;
  margin-right: 37.5%;
}

button {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-bottom: 10px;
  cursor: pointer;
  background-color: rgb(56, 155, 240);
  border-radius: 2px;
  color: white;
}
button:hover {
  background-color: rgb(37, 148, 242);
  color: #fff;
}
